# Port
PORT=

# DB
DB_PASSWORD=
DB_DATABASE=
DB_HOST=db # db service name of docker-compose
DATABASE_URL= # ex) "mysql://root:{DB_PASSWORD}@{DB_HOST}:3306/{DB_DATABASE}"

# TON
TON_NETWORK= # ton network, default is "testnet"
CONTRACT_ADDRESS= # did contract address
MNEMONIC= # your wallet mnemonic

# IPFS
NFT_STORAGE_API_KEY= # for IPFS upload

# HOST
# FOR DEPLOY
HOST=
ACME_EAB_KID=
ACME_EAB_HMAC_KEY=